
body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	.navbar-custom {
    background-color: #663399;
    }
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

}

footer {
	font-style: italic;
	font-size: 90%;
}

