
body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
}

header {
    
    

}

footer {
	font-style: italic;
	font-size: 90%;
}

